@font-face{
    font-family : "myfont";
    src : url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
}

title {
    color : white;
    text-align : center;
    font-family : myfont;
  }
body {
    font-family : myfont;
    background-color : black;
    background-repeat : no-repeat; 
    background-attachment : fixed;
    text-align : center;
}
h1 {
    font-size : 45px;
    color : #FFDAB9;
    text-align : center;
  }
#active {
    color : #FFDAB9;
  }
a {
    color : black
  }
.dropdown-button {
    background-color: #FFDAB9;
    padding: 8px;
    font-size: 15px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 250px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover { background-color: #CD853F; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropdown-button { background-color: #CD853F; }